apiVersion: v1
kind: Service
metadata:
  name: catalog-service
  namespace: default
spec:
  selector:
    app: catalog-service
  ports:
    - protocol: TCP
      port: 3002
      targetPort: 3002
  type: ClusterIP
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: catalog-service
  namespace: default
spec:
  replicas: 2
  selector:
    matchLabels:
      app: catalog-service
  template:
    metadata:
      labels:
        app: catalog-service
    spec:
      containers:
      - name: catalog-service
        image: 977098992607.dkr.ecr.ap-southeast-1.amazonaws.com/cloudretail-catalog:latest
        ports:
        - containerPort: 3002
        env:
        - name: PORT
          value: "3002"
        - name: NODE_ENV
          value: "production"
        - name: JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: cloudretail-secrets
              key: jwt-secret
        - name: DB_HOST
          valueFrom:
            secretKeyRef:
              name: cloudretail-secrets
              key: db-host
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: cloudretail-secrets
              key: db-user
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: cloudretail-secrets
              key: db-password
        - name: DB_PORT
          valueFrom:
            secretKeyRef:
              name: cloudretail-secrets
              key: db-port
        - name: DB_NAME
          valueFrom:
            configMapKeyRef:
              name: cloudretail-config
              key: CATALOG_DB
        - name: S3_BUCKET_NAME
          valueFrom:
            configMapKeyRef:
              name: cloudretail-config
              key: S3_BUCKET_NAME
        - name: S3_REGION
          valueFrom:
            configMapKeyRef:
              name: cloudretail-config
              key: S3_REGION
        - name: COGNITO_USER_POOL_ID
          valueFrom:
            configMapKeyRef:
              name: cloudretail-config
              key: COGNITO_USER_POOL_ID
        - name: COGNITO_CLIENT_ID
          valueFrom:
            configMapKeyRef:
              name: cloudretail-config
              key: COGNITO_CLIENT_ID
        - name: COGNITO_REGION
          valueFrom:
            configMapKeyRef:
              name: cloudretail-config
              key: COGNITO_REGION
        resources:
          requests:
            memory: "256Mi"
            cpu: "200m"
          limits:
            memory: "512Mi"
            cpu: "500m"
        livenessProbe:
          httpGet:
            path: /health
            port: 3002
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 5
        readinessProbe:
          httpGet:
            path: /health
            port: 3002
          initialDelaySeconds: 10
          periodSeconds: 5
          timeoutSeconds: 3
